{%extends "registration/base.html"%} 
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-4 loginslot2">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="{% static 'images/logo.png' %}" alt="" width='85%' class='mt-2 mb-2'>
        </div>
        <div class='text-center'>
          <p>Sign up to see photos from your friends</p>
        </div>
        <button class='btn btn-primary fb-button'>Log in with Facebook</button>
        <div class="separator">OR</div>
        <div class="panel-body">
          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm login-button" value="Sign Up">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>
    </div>
    <div class="loginslorextra2 mt-2 text-center">
      <p>Have an account? <a href="/accounts/login">Log in</a></p>
    </div>
    <p class="text-center mt-3">Get the app</p>
    <div class="logingetapp justify-content-center align-items-center text-center ml-md-5 mb-5">
        <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png" alt="" class='img-fluid getapp'>
        <img src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/180ae7a0bcf7.png" alt=""  class='img-fluid getapp'>
      </div>
  </div>
</div>

{% endblock %}