{% include 'navbar.html' %}

{{title}}
<br>
{% for image in allpics%}
<div id="image{{image.id}}"></div>
<img src="{{ image.picture.url }}" alt="">
<p>{{ image.caption }}</p>
<form  action="{%url 'home'%}" method="post" enctype="multipart/form-data">
  {%csrf_token%}
  <input type="hidden" name="imageid" value='{{image.id}}'>
  {{ commentForm }}
  <input type="submit" class="btn btn-success btn-md d-none" value="Add Comment">
</form>

  <h4>comments</h4>
  {%for comment in allcomments%}
    {%if comment.pic.id == image.id%}
    <p>
      <strong>{{comment.user.username}}</strong> {{comment.comment}}
    </p>
    {%endif%}
  {%endfor%}

{% endfor%}
